* {
  border: 1px solid black;
  height: 100px;
  margin: auto;
}

#nav {
  height: 10vh;
}

#content {
  height: 80vh;
  margin-top: 50px;
}

button {
  height: 30px;
  width: 200px;
  border: none;
  background: transparent;
  font-weight: 900;
  outline: none;
}

#spacer {
  height: 100vh;
}
