* {
  background-color: black;

  margin: auto;
  height: 100px;
  text-align: right;
}

#all-content {
  width: 100%;
}
#floating-content {
  margin-top: 175px;

}

#content-heading {

}

#navi {
  height: 50px;

}
#navi button {
  width: 200px;
  height: 50px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  margin:10px;
  border-radius: 5px;
  outline: none;
  text-align: center;

}


#content-body {
  height: 400px;
  width: 1000px;
  margin-top: 30px;
  float: right;


}

#content-body img {
  height: 300px;
  margin-top: 30px;
  margin-left: 30px;
  float: right;
}

#project-info {
  height: 300px;
  width: 350px;
  margin-top: 30px;
  margin-left: 30px;
}

#project-info img {
  float: right;
}
